body{
    text-align: center;
    background-color: black;
    color: white;
}
#content-window{
    width: auto;
    padding: 100px;
    margin: 100px;
}
#container{
    display: flexbox;
    text-align: center;
}
#button-container div{
    width:100px;
    margin: 20px;
}
#gameScore{
    display: flexbox;
}
#gameLeft{
    text-align: left;
}
#gameRight{
    text-align: right;
}
#score{
    margin: auto;
    padding: 20px;
    border-style: solid;
    text-align: center;
    width: 250px;
}