body{
    text-align: center;
    background-color: black;
    color: white;
}
#content-window{
    width: auto;
    padding: 100px;
    margin: 100px;
}
#container{
    display: flexbox;
    text-align: center;
}
#button-container div{
    width:100px;
    margin: 20px;
}
#button-container > button {
    color: white;
    background: rgb(35, 138, 202);
    border-radius: 30px;
    border-style: none;
    text-decoration: none;
}
#gameScore{
    display: flexbox;
}
#gameLeft{
    text-align: left;
}
#gameRight{
    text-align: right;
}
#score{
    color: red;
    font-size: 1.5em;
    font-weight: 500;
    margin: auto;
    padding: 50px;
    border-style: solid;
    text-align: center;
    width: 350px;
}